.lorder_css {
  width: 2rem !important;
  height: 2rem !important;
}

.height_lorder {
  width: 2rem !important;
  height: 2rem !important;
}

.row_height {
  height: 40rem !important;
}

.height_lorder_small_table {
  width: 2rem !important;
  height: 2rem !important;
}
.height_lorder_small_ {
  height: 17rem !important;
}

.row_height_view {
  height: 20rem !important;
}

.kd {
  cursor: pointer;
}
